full_data.csv
the_oscar_award.csv
Dataset.csv
.env
dataset_builder/
__pycache__/
Randula_Gunathilake_23610903_ER_DIAGRAM.png
.DS_Store
.vscode/
.idea/
Report_Database_Assignment.docx
test.py
USER GUIDE - Film Festival Database.docx
USER_GUIDE.txt
datasetScript.py